Package: com.xxx.openjbbridge
Name: OpenJBURLBridge
Version: 1.0
Architecture: iphoneos-arm64e
Description: URL bridge for TrollOpen JB
Maintainer: User
Section: Tweaks
Depends: mobilesubstrate, firmware (>=16.0)
